<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<!-- Core -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.eclipsefp.haskell.haddock.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>

<!-- UI -->
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            icon="icons/full/etool16/haddock.gif"
            class="net.sf.eclipsefp.haskell.haddock.ui.wizard.HaddockExportWizard"
            name="%haddockWizard.name"
            category="net.sf.eclipsefp.haskell.ui.exportWizardCategory"
            id="net.sf.eclipsefp.haskell.haddock.ui.wizard.HaddockExportWizard">
         <description>%haddockWizard.description</description>
      </wizard>
   </extension>

   <!-- configurator page to simplify setting the Haddock executable -->   
   <extension point="net.sf.eclipsefp.haskell.ui.configuratorPages">
     <configuratorPage
           bannerImage="icons/full/wizban/haddockexport.gif"
           title="%configuratorPage.title"
           class="net.sf.eclipsefp.haskell.haddock.ui.configuratorpage.HaddockConfiguratorPage"
           description="%configuratorPage.description"
           probeClass="net.sf.eclipsefp.haskell.haddock.ui.configuratorpage.HaddockExecutableProbe"
           id="net.sf.eclipsefp.haskell.haddock.ui.configuratorpage.HaddockConfiguratorPage"/>
   </extension>
   
</plugin>
