<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.eclipsefp.haskell.ghccompiler.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%compilerPP_name"
            category="net.sf.eclipsefp.haskell.ui.internal.preferences.hsimpls.InstalledImplementationsPP"
            class="net.sf.eclipsefp.haskell.ghccompiler.ui.preferences.GhcPreferencePage"
            id="net.sf.eclipsefp.haskell.ghccompiler.ui.preferences.GhcPreferencePage">
      </page>
   </extension>
   <extension
         point="net.sf.eclipsefp.haskell.core.cabalContributors">
      <contributor
            class="net.sf.eclipsefp.haskell.ghccompiler.core.GhcCabalContributor"
            id="net.sf.eclipsefp.haskell.ghccompiler.ghccabalcontributor">
      </contributor>
   </extension>

</plugin>
