<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.eclipsefp.haskell.ghccompiler.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="net.sf.eclipsefp.haskell.core.haskellCompilers">
      <compiler
            name="%ghc_name"
            description="%ghc_desc"
            class="net.sf.eclipsefp.haskell.ghccompiler.core.GhcCompiler"
            mode="make"
            id="ghcCompiler">
      </compiler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%compilerPP_name"
            category="net.sf.eclipsefp.haskell.ui.internal.preferences.hsimpls.InstalledImplementationsPP"
            class="net.sf.eclipsefp.haskell.ghccompiler.ui.preferences.GhcPreferencePage"
            id="net.sf.eclipsefp.haskell.ghccompiler.ui.preferences.GhcPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%shortcut_label"
            icon="icons/etool16/ghci16.gif"
            class="net.sf.eclipsefp.haskell.ghccompiler.ui.launch.GhciLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.ghccompiler.ui.launch.GhciLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                 <count value="1" />
                 <iterate>
                   <adapt type="org.eclipse.core.resources.IResource">
                     <test property="net.sf.eclipsefp.haskell.core.isHaskellFile"/>
                   </adapt>
                 </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%contextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
