<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.eclipsefp.haskell.cabal.ui.internal.editors.CabalEditor"
            contributorClass="net.sf.eclipsefp.haskell.cabal.ui.internal.editors.CabalEditorContributor"
            default="true"
            extensions="cabal"
            icon="$nl$/icons/eview16/cabal.gif"
            id="net.sf.eclipsefp.haskell.cabal.ui.internal.editors.CabalEditor"
            name="%cabalEditor_name"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            extensions="cabal"
            class="net.sf.eclipsefp.haskell.cabal.ui.internal.editors.CabalDocProvider"
            id="net.sf.eclipsefp.haskell.cabal.ui.internal.editors.CabalDocProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="%templateContext_name"
            id="cabalPackageDescriptionTemplates"/>
      <include file="templates/templates.xml"/>
   </extension>
</plugin>
