<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Haskell Browser"
            id="net.sf.eclipsefp.haskell.browser">
      </category>
      <view
            name="Packages"
            icon="icons/obj16/package.gif"
            category="net.sf.eclipsefp.haskell.browser"
            class="net.sf.eclipsefp.haskell.browser.views.PackagesView"
            id="net.sf.eclipsefp.haskell.browser.views.PackagesView">
      </view>
   </extension>

</plugin>
