<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="Haskell Project"
            icon="icons/hsicon16.gif"
            category="net.sf.eclipsefp.common.ui.newWizardCategory"
            class="de.leiffrenzel.fp.haskell.ui.wizards.NewHaskellProjectWizard"
            finalPerspective="de.leiffrenzel.fp.haskell.ui.HaskellPerspective"
            project="true"
            id="de.leiffrenzel.fp.haskell.ui.wizards.NewHaskellProjectWizard">
         <description>
            Create a new Haskell project.
         </description>
      </wizard>
      <primaryWizard
            id="de.leiffrenzel.fp.haskell.ui.wizards.NewHaskellProjectWizard">
      </primaryWizard>
      <wizard
            name="Haskell Module"
            icon="icons/full/obj16/module.gif"
            category="net.sf.eclipsefp.common.ui.newWizardCategory"
            class="de.leiffrenzel.fp.haskell.ui.wizards.NewModuleWizard"
            finalPerspective="de.leiffrenzel.fp.haskell.ui.HaskellPerspective"
            project="false"
            id="de.leiffrenzel.fp.haskell.ui.wizards.NewModuleWizard">
         <description>
            Create a new Haskell module.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Haskell Editor"
            extensions="hs,lhs"
            icon="icons/hsicon16.gif"
            class="de.leiffrenzel.fp.haskell.ui.editor.HaskellEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            id="de.leiffrenzel.fp.haskell.ui.editor.HaskellEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            extensions="hs,lhs"
            class="de.leiffrenzel.fp.haskell.ui.editor.HaskellDocumentProvider"
            id="de.leiffrenzel.fp.haskell.ui.editor.HaskellDocumentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/haskellNature.gif"
            natureId="de.leiffrenzel.fp.haskell.core.project.HaskellNature"
            id="de.leiffrenzel.fp.haskell.core.project.haskellNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            label="Haskell Project Folders"
            class="de.leiffrenzel.fp.haskell.ui.decorators.ProjectFoldersDecorator"
            state="true"
            id="de.leiffrenzel.fp.haskell.ui.decorators.ProjectFoldersDecorator">
            <enablement>
              <objectClass name="org.eclipse.core.resources.IFolder	"/> 
            </enablement>
         <description>
            Decorates source and binary folders in Haskell projects.
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Haskell"
            icon="icons/hsicon16.gif"
            class="de.leiffrenzel.fp.haskell.ui.HaskellPerspective"
            id="de.leiffrenzel.fp.haskell.ui.HaskellPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Module Browser"
            icon="icons/full/cview16/mbview.gif"
            category="net.sf.eclipsefp.common.ui.fpViews"
            class="de.leiffrenzel.fp.haskell.ui.views.mbview.ModuleBrowser"
            id="de.leiffrenzel.fp.haskell.ui.views.mbview.ModuleBrowser">
      </view>
      <view
            name="Haskell Compiler Output"
            icon="icons/full/cview16/coview.gif"
            category="net.sf.eclipsefp.common.ui.fpViews"
            class="de.leiffrenzel.fp.haskell.ui.views.coview.CompilerOutputView"
            id="de.leiffrenzel.fp.haskell.ui.views.coview.CompilerOutputView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Haskell"
            category="net.sf.eclipsefp.common.ui.preferences.FPPreferencePage"
            class="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCategoryPP"
            id="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCategoryPP">
      </page>
      <page
            name="Compiler"
            category="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCategoryPP"
            class="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCompilerPP"
            id="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCompilerPP">
      </page>
      <page
            name="Interpreter"
            category="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCategoryPP"
            class="de.leiffrenzel.fp.haskell.ui.preferences.HaskellInterpreterPP"
            id="de.leiffrenzel.fp.haskell.ui.preferences.HaskellInterpreterPP">
      </page>
      <page
            name="Editor"
            category="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCategoryPP"
            class="de.leiffrenzel.fp.haskell.ui.preferences.editor.HaskellEditorPP"
            id="de.leiffrenzel.fp.haskell.ui.preferences.editor.HaskellEditorPP">
      </page>
      <page
            name="New Project"
            category="de.leiffrenzel.fp.haskell.ui.preferences.HaskellCategoryPP"
            class="de.leiffrenzel.fp.haskell.ui.preferences.NewHaskellProjectPP"
            id="de.leiffrenzel.fp.haskell.ui.preferences.NewHaskellProjectPP">
      </page>
   </extension>
   <extension
         name="Import Libraries"
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="Import Libraries"
            class="de.leiffrenzel.fp.haskell.ui.properties.ImportLibrariesPP"
            id="de.leiffrenzel.fp.haskell.ui.properties.ImportLibrariesPP">
         <filter
               name="nature"
               value="de.leiffrenzel.fp.haskell.core.project.HaskellNature">
         </filter>
         <filter
               name="open"
               value="true">
         </filter>
      </page>
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="Haskell Compiler"
            class="de.leiffrenzel.fp.haskell.ui.properties.CompilerPP"
            id="de.leiffrenzel.fp.haskell.ui.properties.CompilerPP">
         <filter
               name="nature"
               value="de.leiffrenzel.fp.haskell.core.project.HaskellNature">
         </filter>
         <filter
               name="open"
               value="true">
         </filter>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/hsicon16.gif"
            configTypeID="de.leiffrenzel.fp.haskell.core.launch.HaskellLaunchDelegate"
            id="de.leiffrenzel.fp.haskell.ui.launch.launchIcon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="de.leiffrenzel.fp.haskell.core.launch.HaskellLaunchDelegate"
            class="de.leiffrenzel.fp.haskell.ui.launch.HaskellLaunchTabGroup"
            id="de.leiffrenzel.fp.haskell.ui.launch.HaskellLaunchTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Haskell Application"
            icon="icons/hsicon16.gif"
            class="de.leiffrenzel.fp.haskell.ui.launch.ExecutableLaunchShortcut"
            modes="run"
            id="de.leiffrenzel.fp.haskell.ui.launch.ExecutableLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="de.leiffrenzel.fp.haskell.core.isProjectExecutable">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="Run Haskell Application"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
         <perspective
               id="de.leiffrenzel.fp.haskell.ui.HaskellPerspective">
         </perspective>
      </shortcut>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <category
            description="Haskell editor category"
            name="Haskell editor commands"
            id="de.leiffrenzel.fp.haskell.ui.category.source"/>
      <command
            description="Goes to the first non space char or first char of the line depending on the cursor position."
            categoryId="de.leiffrenzel.fp.haskell.ui.category.source"
            name="First char"
            id="de.leiffrenzel.fp.haskell.ui.editor.actions.firstChar"/>
      <keyBinding
            commandId="de.leiffrenzel.fp.haskell.ui.editor.actions.firstChar"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Home"/>
      <command
            description="Comments code line (Adds -- to beginning of the line)"
            categoryId="de.leiffrenzel.fp.haskell.ui.category.source"
            name="Comment"
            id="de.leiffrenzel.fp.haskell.ui.editor.actions.comment"/>
      <keyBinding
            commandId="de.leiffrenzel.fp.haskell.ui.editor.actions.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+/"/>
      <keyBinding
            commandId="de.leiffrenzel.fp.haskell.ui.editor.actions.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+7"/>
      <command
            description="Uncomments line (Removes -- from the beggining of the line)"
            categoryId="de.leiffrenzel.fp.haskell.ui.category.source"
            name="Uncomment"
            id="de.leiffrenzel.fp.haskell.ui.editor.actions.uncomment"/>
      <keyBinding
            commandId="de.leiffrenzel.fp.haskell.ui.editor.actions.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+Shift+/"/>
      <keyBinding
            commandId="de.leiffrenzel.fp.haskell.ui.editor.actions.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="Ctrl+ß"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="de.leiffrenzel.fp.haskell.ui.editor.HaskellEditor"
            id="de.leiffrenzel.fp.haskell.ui.editor.editorContribution">
         <action
               label="First Char"
               definitionId="de.leiffrenzel.fp.haskell.ui.editor.actions.firstChar"
               class="de.leiffrenzel.fp.haskell.ui.editor.actions.FirstCharAction"
               id="de.leiffrenzel.fp.haskell.editor.actions.firstChar"/>
      </editorContribution>
   </extension>
</plugin>
