<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.eclipsefp.haskell.ui.CabalChangeListener">
      <listener
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.LaunchUpdater"
            id="net.sf.eclipsefp.haskell.debug.ui.listener2">
      </listener>
   </extension>
   <extension
         point="net.sf.eclipsefp.haskell.debug.core.interactiveDelegates">
      <delegate
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchOperationDelegate"
            id="net.sf.eclipsefp.haskell.debug.ui.ghci">
      </delegate>
      <delegate
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodDevelLaunchOperationDelegate"
            id="net.sf.eclipsefp.haskell.debug.ui.yesod">
      </delegate>
      <delegate
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodTestLaunchOperationDelegate"
            id="net.sf.eclipsefp.haskell.debug.ui.yesod">
      </delegate>
   </extension>
      <extension
         point="org.eclipse.core.runtime.adapters">
    <factory
    class="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellBreakpointAdapterFactory"
       adaptableType="net.sf.eclipsefp.haskell.ui.internal.editors.haskell.HaskellEditor">
       <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
    </factory>
    </extension>
      <extension
            point="org.eclipse.debug.ui.debugModelPresentations">
         <debugModelPresentation
               class="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellModelPresentation"
               id="net.sf.eclipsefp.haskell.debug">
         </debugModelPresentation>
      </extension>
      <extension
            point="org.eclipse.debug.ui.variableValueEditors">
         <variableValueEditor
               class="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellVariableValueEditor"
               modelId="net.sf.eclipsefp.haskell.debug">
         </variableValueEditor>
      </extension>
      <extension
            point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
         <toggleTargetFactory
               class="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellToggleBreakpointTargetFactory"
               id="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellToggleBreakpointTargetFactory">
            <enablement>
                       <with variable="debugContext">
              <iterate>
               <or>
                  <test property="org.eclipse.debug.ui.getModelIdentifier" value="net.sf.eclipsefp.haskell.debug"/>
                  <test property="org.eclipse.debug.ui.getModelIdentifier" value=""/>
               </or>
           </iterate>
           </with>
            <instanceof value="net.sf.eclipsefp.haskell.ui.internal.editors.haskell.HaskellEditor"/>
            </enablement>
         </toggleTargetFactory>
      </extension>
      <extension point="org.eclipse.ui.popupMenus">
	     <viewerContribution id="net.sf.eclipsefp.haskell.debug.ui.RulerPopupActions"
	                targetID="#TextRulerContext">
	
	      <action
	           id="net.sf.eclipsefp.haskell.ui.internal.editors.haskell.HaskellEditor.toggleBreakpointAction" label="%toggle_breakpoint"
	           class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	           menubarPath="debug">
	     </action>
	</viewerContribution>   

	</extension>
      <extension
            point="org.eclipse.ui.editorActions">
         <editorContribution
               id="net.sf.eclipsefp.haskell.debug.ui.editorContribution1"
               targetID="net.sf.eclipsefp.haskell.ui.internal.editors.haskell.HaskellEditor">
         	    <action
	               label="%toggle_breakpoint"
	               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	               style="push"
	               actionID="RulerDoubleClick"
	               id="net.sf.eclipsefp.haskell.ui.internal.editors.haskell.HaskellEditor.doubleClickBreakpointAction"/>
         </editorContribution>
      </extension>

      <extension point="org.eclipse.debug.core.watchExpressionDelegates">
   		<watchExpressionDelegate
     		debugModel="net.sf.eclipsefp.haskell.debug"
     		delegateClass="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellWatchExpressionDelegate"/>
  	</extension>
 <!--     <extension
            point="org.eclipse.debug.ui.launchConfigurationTypeImages">
         <launchConfigurationTypeImage
               configTypeID="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.GhciInteractiveLaunchDelegate"
               icon="icons/etool16/ghci16.gif"
               id="net.sf.eclipsefp.haskell.ui.launch.young.launchInteractiveIcon">
         </launchConfigurationTypeImage>
         <launchConfigurationTypeImage
               configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.young.BaseExecutableLaunchDelegate"
               icon="icons/etool16/hsexe16.gif"
               id="net.sf.eclipsefp.haskell.ui.launch.young.launchExecutableIcon">
         </launchConfigurationTypeImage>
         <launchConfigurationTypeImage
               configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.young.ProfilingLaunchDelegate"
               icon="icons/etool16/hsexe16.gif"
               id="net.sf.eclipsefp.haskell.ui.launch.young.launchProfilingIcon">
         </launchConfigurationTypeImage>
         <launchConfigurationTypeImage
               configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.young.TestSuiteLaunchDelegate"
               icon="icons/etool16/hsexe16.gif"
               id="net.sf.eclipsefp.haskell.ui.launch.young.launchTestSuiteIcon">
         </launchConfigurationTypeImage>
      </extension>
      <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <launchConfigurationTabGroup
               class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.InteractiveLaunchTabGroup"
               id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.InteractiveLaunchTabGroup"
               type="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.GhciInteractiveLaunchDelegate">
         </launchConfigurationTabGroup>
         <launchConfigurationTabGroup
               class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.ExecutableLaunchTabGroup"
               id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.ExecutableLaunchTabGroup"
               type="net.sf.eclipsefp.haskell.debug.core.internal.launch.young.BaseExecutableLaunchDelegate">
         </launchConfigurationTabGroup>
         <launchConfigurationTabGroup
               class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.ExecutableLaunchTabGroup"
               id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.ProfilingLaunchTabGroup"
               type="net.sf.eclipsefp.haskell.debug.core.internal.launch.young.ProfilingLaunchDelegate">
         </launchConfigurationTabGroup>
         <launchConfigurationTabGroup
               class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.ExecutableLaunchTabGroup"
               id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.young.TestSuiteLaunchTabGroup"
               type="net.sf.eclipsefp.haskell.debug.core.internal.launch.young.TestSuiteLaunchDelegate">
         </launchConfigurationTabGroup>
      </extension> -->
         <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/etool16/ghci16.gif"
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate"
            id="net.sf.eclipsefp.haskell.ui.launch.launchIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/etool16/yesod16.gif"
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.YesodLaunchDelegate"
            id="net.sf.eclipsefp.haskell.ui.launch.launchYesodIcon">
      </launchConfigurationTypeImage>
       <launchConfigurationTypeImage
            icon="icons/etool16/yesod16.gif"
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.YesodTestLaunchDelegate"
            id="net.sf.eclipsefp.haskell.ui.launch.launchYesodIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            icon="icons/etool16/hsexe16.gif"
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.ExecutableHaskellLaunchDelegate"
            id="net.sf.eclipsefp.haskell.ui.launch.launchExecutableIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.ExecutableProfilingHaskellLaunchDelegate"
            icon="icons/etool16/hsexe16.gif"
            id="net.sf.eclipsefp.haskell.ui.launch.launchExecutableProfilingIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.TestSuiteHaskellLaunchDelegate"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.ui.launch.launchTestSuiteIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.HTFLaunchDelegate"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.ui.launch.launchHTFIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.BenchmarkHaskellLaunchDelegate"
            icon="icons/eview16/haskell_bench.png"
            id="net.sf.eclipsefp.haskell.ui.launch.launchBenchIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.CabalTestLaunchDelegate"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.ui.launch.launchCabalTestIcon">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.CabalBenchLaunchDelegate"
            icon="icons/eview16/haskell_bench.png"
            id="net.sf.eclipsefp.haskell.ui.launch.launchCabalBenchIcon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HaskellLaunchTabGroup"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HaskellLaunchTabGroup">
      </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
            type="net.sf.eclipsefp.haskell.debug.core.internal.launch.ExecutableHaskellLaunchDelegate"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableHaskellLaunchTabGroup">
      </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
             class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
             id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableHaskellLaunchTabGroup"
             type="net.sf.eclipsefp.haskell.debug.core.internal.launch.TestSuiteHaskellLaunchDelegate">
       </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
            type="net.sf.eclipsefp.haskell.debug.core.internal.launch.BenchmarkHaskellLaunchDelegate"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.BenchmarkHaskellLaunchTabGroup">
      </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
            type="net.sf.eclipsefp.haskell.debug.core.internal.launch.CabalTestLaunchDelegate"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalTestLaunchTabGroup">
      </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
            type="net.sf.eclipsefp.haskell.debug.core.internal.launch.CabalBenchLaunchDelegate"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalBenchLaunchTabGroup">
      </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
             class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
             id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableHaskellLaunchTabGroup"
             type="net.sf.eclipsefp.haskell.debug.core.internal.launch.HTFLaunchDelegate">
       </launchConfigurationTabGroup>
       <launchConfigurationTabGroup
             class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableTestSuiteHaskellLaunchTabGroup"
             id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableHaskellLaunchTabGroup"
             type="net.sf.eclipsefp.haskell.debug.core.internal.launch.ExecutableProfilingHaskellLaunchDelegate">
       </launchConfigurationTabGroup>
        <launchConfigurationTabGroup
             class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodLaunchTabGroup"
             id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.YesodLaunchTabGroup"
             type="net.sf.eclipsefp.haskell.debug.core.internal.launch.YesodLaunchDelegate">
       </launchConfigurationTabGroup>
        <launchConfigurationTabGroup
             class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodLaunchTabGroup"
             id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.YesodLaunchTabGroup"
             type="net.sf.eclipsefp.haskell.debug.core.internal.launch.YesodTestLaunchDelegate">
       </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%appLaunchShortcut_label"
            icon="icons/etool16/hsexe16.gif"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                  	<or>
                  	 <and>
                  	 	<instanceof value="org.eclipse.core.resources.IResource"/>
	                  	 <test
	                           property="net.sf.eclipsefp.haskell.core.isProjectExecutable">
	                     </test>
                     </and>
                     <instanceof value="net.sf.eclipsefp.haskell.ui.internal.views.projectexplorer.ProjectExplorerStanza"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%appLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%benchLaunchShortcut_label"
            icon="icons/eview16/haskell_bench.png"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.BenchmarkLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.BenchmarkLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                  	<or>
                  	 <and>
                  	 	<instanceof value="org.eclipse.core.resources.IResource"/>
	                  	 <test
	                           property="net.sf.eclipsefp.haskell.core.isProjectBenchmark">
	                     </test>
                     </and>
                     <instanceof value="net.sf.eclipsefp.haskell.ui.internal.views.projectexplorer.ProjectExplorerStanza"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%benchLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%ghciShortcut_label"
            icon="icons/etool16/ghci16.gif"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut"
            modes="run, debug"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                 <count value="1" />
                 <iterate>
                   <adapt type="org.eclipse.core.resources.IResource">
                     <test property="net.sf.eclipsefp.haskell.core.isHaskellFile"/>
                   </adapt>
                 </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%ghciContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%yesodDevelShortcut_label"
            icon="icons/etool16/yesod16.gif"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodDevelLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodDevelLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                 <count value="1" />
                 <iterate>
                   <adapt type="org.eclipse.core.resources.IProject">
                     <test property="net.sf.eclipsefp.haskell.core.isProjectYesod"/>
                   </adapt>
                 </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%yesodDevelContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
       <shortcut
            label="%yesodTestShortcut_label"
            icon="icons/etool16/yesod16.gif"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodTestLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.yesod.YesodTestLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                 <count value="1" />
                 <iterate>
                   <adapt type="org.eclipse.core.resources.IProject">
                     <test property="net.sf.eclipsefp.haskell.core.isProjectYesod"/>
                   </adapt>
                 </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%yesodTestContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.TestSuiteLaunchShortcut"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.TestSuiteLaunchShortcut"
            label="%testSuiteLaunchShortcut_label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                   	<adapt type="org.eclipse.core.resources.IProject">
                     <test
                           property="net.sf.eclipsefp.haskell.core.isProjectTestSuite">
                     </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%testSuiteLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalTestLaunchShortcut"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalTestLaunchShortcut"
            label="%cabalTestLaunchShortcut_label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
						<instanceof value="org.eclipse.core.resources.IResource"/>
	                  	 <test
	                           property="net.sf.eclipsefp.haskell.core.isProjectTestSuite">
	                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%cabalTestLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalBenchLaunchShortcut"
            icon="icons/eview16/haskell_bench.png"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalBenchLaunchShortcut"
            label="%cabalBenchLaunchShortcut_label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
						<instanceof value="org.eclipse.core.resources.IResource"/>
	                  	 <test
	                           property="net.sf.eclipsefp.haskell.core.isProjectBenchmark">
	                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%cabalBenchLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
            <shortcut
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HTFLaunchShortcut"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HTFLaunchShortcut"
            label="%htfLaunchShortcut_label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                   <adapt type="org.eclipse.core.resources.IProject">
                     <test
                           property="net.sf.eclipsefp.haskell.core.isProjectTestSuite">
                     </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%htfLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableProfilingLaunchShortcut"
            icon="icons/etool16/hsexe16.gif"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableProfilingLaunchShortcut"
            label="%appLaunchProfilingShortcut_label"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt type="org.eclipse.core.resources.IProject">
	                  	 <test
	                           property="net.sf.eclipsefp.haskell.core.isProjectExecutable">
	                     </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%appLaunchProfilingContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="%runGHCiShortcut_name"
            description="%runGHCiShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut.run">
      </command>
      <command
            name="%runHaskellShortcut_name"
            description="%runHaskellShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut.run">
      </command>
      <command
            name="%runBenchmarkShortcut_name"
            description="%runBenchmarkShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.BenchmarkLaunchShortcut.run">
      </command>
      <command
            name="%runCabalTestShortcut_name"
            description="%runCabalTestShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalTestLaunchShortcut.run">
      </command>
      <command
            name="%runCabalBenchShortcut_name"
            description="%runCabalBenchShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.CabalBenchLaunchShortcut.run">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%runTestSuiteShortcut_desc"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.TestSuiteLaunchShortcut.run"
            name="%runTestSuiteShortcut_name">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%runHTFShortcut_desc"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HTFLaunchShortcut.run"
            name="%runHTFShortcut_name">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%runHaskellProfilingShortcut_desc"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableProfilingLaunchShortcut.run"
            name="%runHaskellProfilingShortcut_name">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key sequence="M3+M2+X G"
           commandId="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut.run"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key sequence="M3+M2+X H"
           commandId="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut.run"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HTFLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X F">
      </key>
      <key
            commandId="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableProfilingLaunchShortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+X R">
      </key>
   </extension>
  <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerActionBinding
               viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
               <actionExtension
                     pattern="net.sf.eclipsefp.haskell.debug.ui.internal.launch.RunActionProvider">
               </actionExtension>
            </includes>
         </viewerActionBinding>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.navigatorContent">
         <actionProvider
               class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.RunActionProvider"
               id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.RunActionProvider">
            <enablement>
               <instanceof
                     value="net.sf.eclipsefp.haskell.ui.internal.views.projectexplorer.ProjectExplorerStanza">
               </instanceof>
            </enablement>
         </actionProvider>
      </extension>
      

   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="net.sf.eclipsefp.haskell.debug.ui.repl.HistoryParticipant"
            id="net.sf.eclipsefp.haskell.debug.ui.repl.HistoryParticipant">
         <enablement>
            <instanceof value="org.eclipse.debug.internal.ui.views.console.ProcessConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension> 
   
   <extension
         point="org.eclipse.ui.views">
      <view
            category="net.sf.eclipsefp.haskell"
            class="net.sf.eclipsefp.haskell.debug.ui.test.TestResultView"
            icon="icons/eview16/haskell_test.png"
            id="net.sf.eclipsefp.haskell.debug.ui.test.TestResultView"
            name="%test_result_view"
            restorable="true">
      </view>
   </extension>
   
    <extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="net.sf.eclipsefp.haskell.ui.HaskellPerspective">
			<viewShortcut id="net.sf.eclipsefp.haskell.debug.ui.test.TestResultView"/>
		</perspectiveExtension>
	</extension>
    <extension
          point="net.sf.eclipsefp.haskell.debug.core.testListeners">
       <delegate
             class="net.sf.eclipsefp.haskell.debug.ui.test.ViewTestListener"
             id="net.sf.eclipsefp.haskell.debug.ui.test.ViewTestListener">
       </delegate>
    </extension>
</plugin>
