<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/etool16/hsicon16.gif"
            configTypeID="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate"
            id="net.sf.eclipsefp.haskell.ui.launch.launchIcon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HaskellLaunchTabGroup"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.HaskellLaunchTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%appLaunchShortcut_label"
            icon="icons/etool16/hsicon16.gif"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="net.sf.eclipsefp.haskell.core.isProjectExecutable">
                     </test>
                  </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%appLaunchContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%ghciShortcut_label"
            icon="icons/etool16/ghci16.gif"
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut"
            modes="run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                 <count value="1" />
                 <iterate>
                   <adapt type="org.eclipse.core.resources.IResource">
                     <test property="net.sf.eclipsefp.haskell.core.isHaskellFile"/>
                   </adapt>
                 </iterate>
               </with>
            </enablement>
            <contextLabel
                  label="%ghciContextLabel_label"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            name="%runGHCiShortcut_name"
            description="%runGHCiShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut.run">
      </command>
      <command
            name="%runHaskellShortcut_name"
            description="%runHaskellShortcut_desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut.run">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key sequence="M3+M2+X G"
           commandId="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ghci.GhciLaunchShortcut.run"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key sequence="M3+M2+X H"
           commandId="net.sf.eclipsefp.haskell.debug.ui.internal.launch.ExecutableLaunchShortcut.run"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension
         point="net.sf.eclipsefp.haskell.ui.CabalChangeListener">
      <listener
            class="net.sf.eclipsefp.haskell.debug.ui.internal.launch.LaunchUpdater"
            id="net.sf.eclipsefp.haskell.debug.ui.listener2">
      </listener>
   </extension>
      <extension
         point="org.eclipse.core.runtime.adapters">
    <factory
    class="net.sf.eclipsefp.haskell.debug.ui.internal.debug.HaskellBreakpointAdapterFactory"
       adaptableType="net.sf.eclipsefp.haskell.ui.internal.editors.haskell.HaskellEditor">
       <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
    </factory>
    </extension>
</plugin>
