<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate"
            id="net.sf.eclipsefp.haskell.debug.core.internal.launch.HaskellLaunchDelegate"
            modes="run, debug"
            name="%haskellInteractiveLaunchType_name"
            sourceLocatorId="net.sf.eclipsefp.haskell.debug.core.sourceLookupDirector"
            sourcePathComputerId="net.sf.eclipsefp.haskell.debug.core.sourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="net.sf.eclipsefp.haskell.debug.core.internal.launch.ExecutableHaskellLaunchDelegate"
            id="net.sf.eclipsefp.haskell.debug.core.internal.launch.ExecutableHaskellLaunchDelegate"
            modes="run"
            name="%haskellApplicationLaunchType_name"
            sourceLocatorId="net.sf.eclipsefp.haskell.debug.core.sourceLookupDirector"
            sourcePathComputerId="net.sf.eclipsefp.haskell.debug.core.sourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="net.sf.eclipsefp.haskell.debug.core.internal.launch.TestSuiteHaskellLaunchDelegate"
            id="net.sf.eclipsefp.haskell.debug.core.internal.launch.TestSuiteHaskellLaunchDelegate"
            modes="run"
            name="%testSuiteLaunchType_name"
            sourceLocatorId="net.sf.eclipsefp.haskell.debug.core.sourceLookupDirector"
            sourcePathComputerId="net.sf.eclipsefp.haskell.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="net.sf.eclipsefp.haskell.debug.core.internal.debug.HaskellBreakpoint"
            id="net.sf.eclipsefp.haskell.debug.breakpoint"
            markerType="net.sf.eclipsefp.haskell.debug.core.breakpoint">
      </breakpoint>
   </extension>
   <extension
         id="breakpoint"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
   <sourceLocator
       name="%source_locator"
    class="net.sf.eclipsefp.haskell.debug.core.internal.debug.HaskellSourceLookupDirector"
    id="net.sf.eclipsefp.haskell.debug.core.sourceLookupDirector">
    </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="net.sf.eclipsefp.haskell.debug.core.internal.debug.HaskellSourcePathComputerDelegate"
            id="net.sf.eclipsefp.haskell.debug.core.sourcePathComputer">
      </sourcePathComputer>
   </extension>
</plugin>
