<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="de.leiffrenzel.fp.haskell.core.haskellParsers">
      <parser
            class="net.sf.eclipsefp.haskell.core.parser.NativeParserBridge"
            name="Native Parser Bridge"
            id="net.sf.eclipsefp.haskell.core.parser.NativeParserBridge" />
   </extension>
</plugin>
