<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.ui.popupMenus">
    <viewerContribution  targetID="#HaskellEditorContext" 
                         id="net.sf.eclipsefp.haskell.ui.refactoring.rename">
      <action label="Rename"
              class="net.sf.eclipsefp.haskell.refactoring.internal.ui.actions.RenameModule" 
              menubarPath="net.sf.eclipsefp.haskell.ui.refactoring.menu" 
              id="net.sf.eclipsefp.haskell.refactoring.internal.ui.actions.RenameModule"/>
    </viewerContribution>
  </extension>
</plugin>
