<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.leiffrenzel.fp.haskell.ghccompiler.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="net.sf.eclipsefp.haskell.core.haskellCompilers">
      <compiler
            outputParser="de.leiffrenzel.fp.haskell.ghccompiler.core.GhcOutputParser"
            name="Glasgow Haskell Compiler (ghc)"
            description="Glasgow Haskell Compiler wrapper for ghc support."
            class="de.leiffrenzel.fp.haskell.ghccompiler.core.GhcCompiler"
            mode="make"
            id="ghcCompiler">
      </compiler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="GHC compiler"
            category="net.sf.eclipsefp.haskell.ui.preferences.HaskellCompilerPP"
            class="de.leiffrenzel.fp.haskell.ghccompiler.ui.preferences.GhcPreferencePage"
            id="de.leiffrenzel.fp.haskell.ghccompiler.ui.preferences.GhcPreferencePage">
      </page>
      <page
            name="GHCi (interactive)"
            category="net.sf.eclipsefp.haskell.ui.preferences.HaskellInterpreterPP"
            class="de.leiffrenzel.fp.haskell.ghccompiler.ui.preferences.GhciPreferencePage"
            id="de.leiffrenzel.fp.haskell.ghccompiler.ui.preferences.GhciPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="GHCi session"
            icon="icons/full/etool16/ghci16.gif"
            class="de.leiffrenzel.fp.haskell.ghccompiler.ui.launch.GhciLaunchShortcut"
            modes="run"
            id="de.leiffrenzel.fp.haskell.ghccompiler.ui.launch.GhciLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="*">
                  </count>
               </with>
            </enablement>
            <contextLabel
                  label="Run GHCi session"
                  mode="run">
            </contextLabel>
         </contextualLaunch>
         <perspective
               id="net.sf.eclipsefp.haskell.ui.HaskellPerspective">
         </perspective>
      </shortcut>
   </extension>
   <!-- configurator page to simplify setting the ghc executable -->   
   <extension point="net.sf.eclipsefp.common.ui.configuratorPages">
     <configuratorPage id="de.leiffrenzel.fp.haskell.ghccompiler.ui.configuratorpage.GHCConfiguratorPage"
                       title="%configuratorPage.title"
                       description="%configuratorPage.description"
                       bannerImage="icons/full/wizban/ghc.png"
                       class="de.leiffrenzel.fp.haskell.ghccompiler.ui.configuratorpage.GHCConfiguratorPage" />
   </extension>
</plugin>
