<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
        
	 <page
            name="%stylishHaskellPP_name"
            class="net.sf.eclipsefp.haskell.style.stylishhaskell.ui.SHConfigurationPP"
            id="net.sf.eclipsefp.haskell.style.stylishhaskell.ui.SHConfigurationPP">
         <filter
               name="nature"
               value="net.sf.eclipsefp.haskell.core.project.HaskellNature">
         </filter>
         <filter
               name="open"
               value="true">
         </filter>
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject" />
         </enabledWhen>
      </page>
   </extension>

</plugin>
