<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="verifypreconditions"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="net.sf.eclipsefp.haskell.build.check.VerifyPreconditions"/>
      </application>
   </extension>
   <extension
         id="verifypostinstall"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run class="net.sf.eclipsefp.haskell.build.check.VerifyPostInstallationConditions"/>
      </application>
   </extension>

</plugin>
